/* Configuración de fuentes y colores personalizados */
body { 
  font-family: 'Inter', sans-serif; 
}

.font-italian { 
  font-family: 'Italiana', serif; 
}

.text-accent { 
  color: #DDB45C; 
}

/* Estilos para el SVG (Icono de Check) */
.icon-check {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}
